*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
@font-face {
  font-family: 'YourFontName';
  src: url('path/to/your/font.woff2') format('woff2'),
       url('path/to/your/font.woff') format('woff');
}

body {
  font-family: 'YourFontName', sans-serif;
} */

@font-face {
  font-family: 'Existence';
  src: url('./Existence-Light.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica-Light';
  src: url('./HelveticaNeueCyr-Light.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica-Regular';
  src: url('./HelveticaNeueCyr-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./HelveticaNeueCyr-Bold.woff') format('woff');
}

body {
  font-family: 'Lato', sans-serif;
  color: #676767;
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;

  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  /* background-color: blue; */
}

.container--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 718px;
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.logo {
  font-family: 'Existence', sans-serif;
  font-size: 30px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: #8a8d91;
}
.logo--footer {
  font-size: 50px;
  font-weight: 700;
}
.footer {
  padding-top: 10px;
  padding-bottom: 100px;
}

.text-accent {
  color: #9f449b;
}

.nav {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu__link {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 18px;
  font-weight: 300;
  color: #8a8d91;
  text-transform: uppercase;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu__link:hover,
.menu__link:focus {
  color: #9f449b;
}

.section--dark-back {
  background-color: #eeeeee;
}

.section__title {
  position: relative;
  font-family: 'Existence', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 38px;
  padding-top: 20px;
  border-top: 20px;
  width: fit-content;
}

.section__title:not(.banner__title)::before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 30px;
  height: 30px;
  border-top: 1px solid #9f449b;
  border-right: 1px solid #9f449b;
}
.section__title:not(.banner__title)::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -60px;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #9f449b;
  border-left: 1px solid #9f449b;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
    padding-top: 30px;
    border-top: 30px;
  }
}

/* Feautures */
.section--features {
  padding-top: 100px;
  padding-bottom: 160px;
}

.features__title {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 28px;
}
.features__desc {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
}
.hexagon-icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hexagon-icon-wrap .hexagon-shape {
  stroke: #d1d5d7;
  width: 171px;
  height: 185px;
  transition: stroke 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section--features .hexagon-icon-wrap {
  cursor: pointer;
}

.hexagon-icon {
  position: absolute;
  fill: #d1d5d7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  height: 68px;
  transition: fill 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hexagon-icon-wrap:hover .hexagon-icon {
  fill: #9f449b;
}
.section--features .hexagon-icon-wrap:hover .hexagon-shape {
  stroke: #9f449b;
}

@media screen and (min-width: 768px) {
  .section--features {
    padding-top: 140px;
    padding-bottom: 200px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
  }
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .features__title {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .section--features {
    padding-top: 170px;
    padding-bottom: 230px;
  }
  .features {
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 40px;
  }
  .features__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .features__title {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* About us  */
.section--about {
  padding-top: 80px;
  padding-bottom: 150px;
}
.about__descr {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.2;
}

.action-btn {
  border-radius: 5px;
  border: 0.5px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background-color: #9f449b;
  width: 150px;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    bacground-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.action-btn:hover,
.action-btn:focus {
  background-color: #fff;
  border-color: #9f449b;
  color: #9f449b;
}

.about-block {
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  .section--about {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .about-block {
    display: flex;
    align-items: end;
    gap: 30px;
    margin-top: 80px;
  }
  .about__img {
    width: 400px;
    height: auto;
  }
  .about__descr {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .about__info {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .action-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .section--about {
    padding-top: 130px;
    padding-bottom: 230px;
  }
  .about__img {
    width: 653px;
    height: 415px;
  }
  .about-block {
    align-items: start;
    margin-top: 140px;
  }
  .about__info {
    width: 450px;
    height: 415px;
  }
  .action-btn {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    width: 225px;
  }
}

@media screen and (max-width: 767px) {
  .about__img {
    width: 300px;
    height: auto;
  }
  .about__img-wrap {
    margin-bottom: 20px;
  }
  .action-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
}

/* achievements  */

.section--achievements {
  padding-top: 90px;
  padding-bottom: 90px;
}

.achievements-list {
  display: flex;
}

.achievement-value,
.achievement-sign {
  font-family: 'Helvetica-Regular', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #222222;
}
.achievement-text {
  font-weight: 300;
  font-family: 'Helvetica-Light', sans-serif;

  font-size: 16px;
  color: #777777;
}
.achievement-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .achievements-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .achievement-item {
    flex-basis: calc((100% - 50px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .section--achievements {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .achievements-list {
    gap: 100px;
  }

  .achievement-item {
    flex-basis: calc((100% - 3 * 100px) / 4);
  }
  .achievement-value,
  .achievement-sign {
    font-size: 40px;
  }

  .achievement-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .section--achievements {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .achievements-list {
    gap: 160px;
  }
  .achievement-item {
    flex-basis: calc((100% - 3 * 160px) / 4);
  }
  .achievement-value,
  .achievement-sign {
    font-size: 64px;
  }

  .achievement-text {
    font-size: 16px;
  }
}

/* Contacts  */
.section--contacts {
  padding-top: 80px;
  padding-bottom: 150px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.control input {
  font-weight: 300;
  font-size: 16px;
}
.control label {
  font-size: 16px;
  position: absolute;
  top: 30px;
  left: 30px;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  font-weight: 300;
  letter-spacing: 2px;
}

.filled label,
input:focus + label,
textarea:focus + label {
  top: -10px;
  left: 0;
  font-size: 14px;
}

.contacts-block {
  margin-top: 80px;
}

.contacts__info {
  padding-top: 20px;
}
.form__submit-btn {
  margin-top: 0;
}

.contacts__descr {
  font-family: 'Helvetica-Light', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 300;
}

.contacts__link {
  display: block;
  font-family: 'Helvetica-Bold', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
  transition: border-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: #9f449b;
}
.contacts__adress {
  margin-bottom: 30px;
}

.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.5px solid #676767;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.socials__item:hover {
  transform: translateY(-5px);
  border-color: #9f449b;
  background-color: #9f449b;
  color: #fff;
}

.socials__item:hover .socials__link {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .contacts-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section--contacts {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .contacts-block {
    display: flex;
    margin-top: 130px;
    gap: 40px;
    flex-direction: row;
  }
  .contacts__form-wrap {
    width: 370px;
  }
  .contacts__info {
    width: 330px;
  }
  .contact-form {
    gap: 30px;
  }
  .control input {
    font-size: 23px;
  }
  .control label {
    font-size: 23px;
  }
  .filled label,
  input:focus + label,
  textarea:focus + label {
    top: -20px;
    left: 0;
    font-size: 18px;
  }
  .contacts__descr {
    font-size: 23px;
    margin-bottom: 50px;
  }
  .contacts__link {
    font-size: 25px;
  }
  .contacts__adress {
    margin-bottom: 40px;
  }
  .socials__item {
    width: 60px;
    height: 60px;
  }

  .socials__link {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-block {
    margin-top: 175px;
    gap: 45px;
  }
  .section--contacts {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .contacts__form-wrap {
    width: 530px;
  }
  .contacts__info {
    width: 520px;
  }
  .contacts__descr {
    margin-bottom: 75px;
  }

  .contacts__link {
    font-size: 26px;
  }
  .contacts__adress {
    margin-bottom: 60px;
  }
  .socials__item {
    width: 80px;
    height: 80px;
  }
}

.control {
  position: relative;
  padding-top: 20px;
}

.control.submit {
  padding: 0;
}

.error-message {
  color: red;
}

input,
textarea {
  /* background-color: green; */
  font-family: 'Helvetica-Regular', sans-serif;
  width: 100%;
  border: none;
  border: 1px solid #676767;
  outline: none;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
textarea {
  resize: none;
}

textarea {
  height: 300px;
}

.socials {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

/* Banner  */
.section--banner {
  background-color: #8a8d91;
  background-image: url('./images/banner-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 300px;
}

.section--banner .hexagon-icon-wrap {
  width: 101px;
  height: 105px;
}
.section--banner .hexagon-icon-wrap .hexagon-icon {
  width: 37px;
  height: 32px;
}
.banner__title {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  max-width: 250px;
  margin-top: 30px;
  line-height: 1.5;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .section--banner .hexagon-icon-wrap .hexagon-icon {
    width: 60px;
    height: 60px;
  }
  .section--banner .hexagon-icon-wrap {
    width: 121px;
    height: 135px;
  }
  .section--banner {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 400px;
  }
  .banner__title {
    font-size: 40px;
    max-width: 500px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section--banner .hexagon-icon-wrap {
    width: 171px;
    height: 185px;
  }
  .banner__title {
    font-size: 48px;
    max-width: 742px;
    margin-top: 64px;
  }
  .section--banner {
    padding-top: 130px;
    padding-bottom: 130px;
    height: 630px;
  }
  .banner__title {
    font-size: 48px;
    max-width: 742px;
    margin-top: 64px;
  }
}

/* Skills */
.section--skills {
  padding-top: 80px;
  padding-bottom: 80px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 50px;
  margin-top: 50px;
  width: 100%;
}
.skill {
  flex-basis: 300px;
  position: relative;
}

.skill-name {
  font-family: 'Helvetica-Regular', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #222222;
}

.skill-bar {
  height: 20px;
  background: #f0f0f0;
}

.skill-per {
  height: 20px;
  background-color: #9f449b;
  width: 0;
  transition: 1s linear;
}

.skill-per::before {
  content: attr(per);
  font-family: 'Helvetica-Light', sans-serif;
  position: absolute;
  padding: 4px 6px;
  color: #777777;
  font-size: 18px;
  top: 0;
  right: 15px;
  transform: translateX(50%);
}

@media screen and (min-width: 768px) {
  .skills {
    margin-top: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .section--skills {
    padding-top: 80px;
    padding-bottom: 200px;
  }

  .skills {
    column-gap: 100px;
    row-gap: 60px;
    margin-top: 200px;
    width: 100%;
  }
  .skill {
    flex-basis: 420px;
  }

  .skill-name {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  .skill-bar {
    height: 20px;
  }

  .skill-per {
    height: 20px;
  }

  .skill-per::before {
    content: attr(per);
    font-size: 24px;
    top: 0;
    right: 15px;
    transform: translateX(50%);
  }
}
/* Team */
.section--team {
  padding-top: 50px;
  padding-bottom: 50px;
}

.team-list {
  margin-top: 120px;
  position: relative;
}
.team__item {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.team__meta {
  padding-top: 20px;
  padding-bottom: 20px;
}

.team__title {
  font-size: 18px;
  font-weight: 700;
  color: #484848;
  margin-bottom: 20px;
  text-align: center;
}

.team__text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #777777;
}

@media screen and (min-width: 768px) {
  .section--team {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .team-list {
    margin-top: 260px;
    position: relative;
  }
  .team__img-wrap {
    width: 200px;
    height: 200px;
  }
  .team__meta {
    padding-top: 40px;
  }
  .team__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .team__text {
    /* width: 310px; */
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .section--team {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .team__img-wrap {
    width: 250px;
    height: 250px;
  }
  .team__meta {
    padding-top: 80px;
  }
  .team__title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .team__text {
    width: 310px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.team__socials {
  justify-content: center;
}

.team__socials .socials__item {
  width: 45px;
  height: 45px;
  font-size: 22px;
}

.link--team {
  color: #777777;
  width: auto;
}

.owl-nav {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 10px;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: relative;
  width: 30px;
  height: 35px;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.owl-carousel .owl-nav button .hexagon-icon-wrap .hexagon-shape {
  width: 30px;
  height: 35px;
}

.slider-team-btn {
  color: #9f449b;
  font-size: 20px;
}

.owl-carousel .owl-nav button .hexagon-shape {
  /* width: 60px;
    height: 75px; */
  width: 100%;
  height: 100%;
  stroke: #9f449b;
  stroke-width: 5px;
}
.owl-carousel .owl-nav button .slider-team-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  transition: fill 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 768px) {
  .owl-nav {
    top: -160px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    width: 40px;
    height: 55px;
  }
}

.hexagon-shape {
  fill: transparent;
}
@media screen and (min-width: 1200px) {
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    width: 60px;
    height: 75px;
  }

  .slider-team-btn {
    font-size: 20px;
  }
}

.owl-carousel .owl-nav button.owl-prev:hover .hexagon-shape,
.owl-carousel .owl-nav button.owl-next:hover .hexagon-shape {
  fill: #9f449b;
}

.owl-carousel .owl-nav button.owl-prev:hover .slider-team-btn,
.owl-carousel .owl-nav button.owl-next:hover .slider-team-btn {
  color: #fff;
}

/* Reviews  */

.reviews__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.reviews__descr {
  font-family: 'Helvetica-Light', sans-serif;
  font-size: 18px;
  color: #4b4b4b;
  text-align: center;
}

.reviews__name {
  text-transform: uppercase;
  font-family: 'Helvetica-Regular', sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 14px;
  text-align: center;
}

.reviews__container {
  position: relative;
  max-width: 280px;
  height: fit-content;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
}

.reviews-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.reviews__item {
  min-width: 280px;
  width: 280px;
}
.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 280px;
}

.thumbnails {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
  transition: transform 0.5s ease-in-out;
}

.thumbnail {
  position: relative;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #777777;
  background-color: #777777;
}

.thumbnail.shaded {
  background-color: transparent;
}

.thumb-container {
  position: relative;
  display: flex;
  margin-top: 40px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .reviews__img-wrap {
    width: 140px;
    height: 140px;
  }
  .reviews__descr {
    font-size: 26px;
  }

  .reviews__name {
    font-size: 14px;
  }

  .reviews__container {
    max-width: 600px;
  }

  .reviews__item {
    min-width: 600px;
    width: 600px;
  }
  .reviews__item {
    gap: 30px;
    max-width: 600px;
  }

  .thumbnails {
    gap: 10px;
    margin-top: 60px;
  }

  .thumb-container {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__img-wrap {
    width: 170px;
    height: 170px;
  }
  .reviews__descr {
    font-size: 33px;
  }

  .reviews__name {
    font-size: 20px;
  }

  .reviews__container {
    max-width: 890px;
  }

  .reviews__item {
    min-width: 890px;
    width: 890px;
  }
  .reviews__item {
    gap: 48px;
    max-width: 890px;
  }

  .thumbnails {
    gap: 10px;
    margin-top: 60px;
  }

  .thumb-container {
    margin-top: 40px;
  }
}

/* Mobile Menu */
.mobile-menu-container {
  display: none;
}
@media screen and (max-width: 1199px) {
  .menu__link {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #272727;
    font-weight: 500;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .mobile-menu-container {
    position: fixed;
    top: 0;
    right: -100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: #fff;
    font-weight: 500;

    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }

  .menu {
    display: none;
  }

  .mobile-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #000;
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .mobile-menu-close i {
    font-size: 18px;
  }
  .mobile-menu-close:hover {
    background-color: #9f449b;
  }

  .mobile-menu-open {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 40px;
    color: #8a8d91;
    background: none;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .mobile-menu-open:hover {
    color: #9f449b;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu-container {
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-container {
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
  }
}

/* Portfolio  */
.title--portfolio {
  margin: 0 auto;
}
.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica-Regular', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  border-radius: 5px;
  border: 1px solid #222222;
  font-size: 18px;
  color: #222222;
  min-width: 90px;
  height: 35px;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-btn--active {
  border: 1px solid #9f449b;
  background-color: #9f449b;
  color: #fff;
}

.filter-btn:not(.filter-btn--active):hover {
  border: 1px solid #9f449b;
  background-color: #9f449b;
  color: #fff;
}

.load-more-btn,
.show-less-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn__list--load {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.show-less-btn {
  display: none;
}

.work__title {
  font-family: 'Helvetica-Regular', sans-serif;
  font-size: 24px;
  color: #222222;
  font-weight: 400;
  margin-bottom: 20px;
}
.work__category {
  font-family: 'Helvetica-Light', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #777777;
}

.work__info {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio-list {
  max-width: 1170px;
}
.portfolio__item {
  cursor: pointer;
  margin-bottom: 25px;
}

.work__image {
  width: 360px;
  height: 360px;
  opacity: 0.8;
  transition: opacity 0.2s linear;
}
@media screen and (min-width: 1200px) {
  .section--portfolio {
    padding-top: 100px;
  }
  .portfolio__filter {
    display: flex;
    gap: 20px;
    margin-top: 80px;
    justify-content: center;
    margin-bottom: 75px;
  }
}

.work {
  overflow: hidden;
  transition: box-shadow 0.2s linear;
}

.work:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.work:hover .work__image {
  opacity: 1;
}

.about {
  padding: 8.4rem 0;
}

.about__container {
  display: flex;
  max-width: 1090px;
}

.about__photo,
.about__content {
  width: 50%;
}

.about__photo {
  position: relative;
}

.about__photo img {
  position: relative;
  z-index: 2;
}

.about__photo:before {
  content: '';
  width: 415px;
  height: 415px;
  background-color: #efefef;

  position: absolute;
  left: 1rem;
  bottom: 0;
  z-index: 1;
}

.about__content {
  padding-left: 3.2rem;
  padding-top: 2rem;
}

.about__title {
  font-size: 3rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}

.about__title--big {
  margin-bottom: 1.4rem;
  position: relative;
  left: -10px;

  font-size: 6.1rem;
  line-height: 1.1;
  color: rgba(43, 42, 44, 0.15);
  font-weight: 700;
  text-transform: uppercase;
}

.about__descr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.8rem;

  font-size: 0.8rem;
  line-height: 2;
  color: #6a696b;
  font-weight: 300;
}
