*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
@font-face {
  font-family: 'YourFontName';
  src: url('path/to/your/font.woff2') format('woff2'),
       url('path/to/your/font.woff') format('woff');
}

body {
  font-family: 'YourFontName', sans-serif;
} */

@font-face {
  font-family: 'Existence';
  src: url('./Existence-Light.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica-Light';
  src: url('./HelveticaNeueCyr-Light.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica-Regular';
  src: url('./HelveticaNeueCyr-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./HelveticaNeueCyr-Bold.woff') format('woff');
}

body {
  font-family: 'Lato', sans-serif;
  color: #676767;
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;

  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  /* background-color: blue; */
}

.container--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.logo {
  font-family: 'Existence', sans-serif;
  font-size: 30px;
  /* font-weight: 400; */
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: #8a8d91;
}

.text-accent {
  color: #9f449b;
}

.nav {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu__link {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 18px;
  font-weight: 300;
  color: #8a8d91;
  text-transform: uppercase;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu__link:hover,
.menu__link:focus {
  color: #9f449b;
}

.section--dark-back {
  background-color: #eeeeee;
}

.section__title {
  position: relative;
  font-family: 'Existence', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 38px;
  padding-top: 20px;
  border-top: 20px;
  width: fit-content;
}

.section__title::before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 30px;
  height: 30px;
  border-top: 1px solid #9f449b;
  border-right: 1px solid #9f449b;
}
.section__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -60px;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #9f449b;
  border-left: 1px solid #9f449b;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
    padding-top: 30px;
    border-top: 30px;
  }
}

/* Feautures */
.section--features {
  padding-top: 100px;
  padding-bottom: 160px;
}

.features__title {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 28px;
}
.features__desc {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
}
.features__icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  cursor: pointer;
}

.features__icon--small {
  position: absolute;
  fill: #d1d5d7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  height: 68px;
  transition: fill 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.features__icon-wrap:hover .features__icon--small {
  fill: #9f449b;
}

@media screen and (min-width: 768px) {
  .section--features {
    padding-top: 140px;
    padding-bottom: 200px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
  }
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .features__title {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .section--features {
    padding-top: 170px;
    padding-bottom: 230px;
  }
  .features {
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 40px;
  }
  .features__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .features__title {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* About us  */
.section--about {
  padding-top: 80px;
  padding-bottom: 150px;
}
.about__descr {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.2;
}

.action-btn {
  border-radius: 5px;
  border: 0.5px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background-color: #9f449b;
  width: 150px;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    bacground-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.action-btn:hover,
.action-btn:focus {
  background-color: #fff;
  border-color: #9f449b;
  color: #9f449b;
}

.about-block {
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  .section--about {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .about-block {
    display: flex;
    align-items: end;
    gap: 30px;
    margin-top: 80px;
  }
  .about__img {
    width: 400px;
    height: auto;
  }
  .about__descr {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .about__info {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .action-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .section--about {
    padding-top: 130px;
    padding-bottom: 230px;
  }
  .about__img {
    width: 653px;
    height: 415px;
  }
  .about-block {
    align-items: start;
    margin-top: 140px;
  }
  .about__info {
    width: 450px;
    height: 415px;
  }
  .action-btn {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    width: 230px;
  }
}

@media screen and (max-width: 767px) {
  .about__img {
    width: 300px;
    height: auto;
  }
  .about__img-wrap {
    margin-bottom: 20px;
  }
  .action-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
}

/* Contacts  */
.section--contacts {
  padding-top: 80px;
  padding-bottom: 150px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.control input {
  font-weight: 300;
  font-size: 16px;
}
.control label {
  font-size: 16px;
}
.filled label,
input:focus + label,
textarea:focus + label {
  top: -10px;
  left: 0;
  font-size: 14px;
}

.contacts-block {
  margin-top: 80px;
}

.contacts__info {
  padding-top: 20px;
}
.form__submit-btn {
  margin-top: 0;
}

.contacts__descr {
  font-family: 'Helvetica-Light', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 300;
}

.contacts__link {
  display: block;
  font-family: 'Helvetica-Bold', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
  transition: border-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: #9f449b;
}
.contacts__adress {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .contacts-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section--contacts {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .contacts-block {
    display: flex;
    margin-top: 130px;
    gap: 40px;
    flex-direction: row;
  }
  .contacts__form-wrap {
    width: 400px;
  }
  .contacts__info {
    width: 330px;
  }
  .contact-form {
    gap: 30px;
  }
  .control input {
    font-size: 23px;
  }
  .control label {
    font-size: 23px;
  }
  .filled label,
  input:focus + label,
  textarea:focus + label {
    top: -20px;
    left: 0;
    font-size: 18px;
  }
  .contacts__descr {
    font-size: 23px;
    margin-bottom: 50px;
  }
  .contacts__link {
    font-size: 25px;
  }
  .contacts__adress {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-block {
    margin-top: 175px;
    gap: 45px;
  }
  .section--contacts {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .contacts__form-wrap {
    width: 530px;
  }
  .contacts__info {
    width: 520px;
  }
  .contacts__descr {
    margin-bottom: 75px;
  }

  .contacts__link {
    font-size: 26px;
  }
  .contacts__adress {
    margin-bottom: 60px;
  }
}

.control {
  position: relative;
  padding-top: 20px;
}

.control.submit {
  padding: 0;
}

.control label {
  position: absolute;
  top: 30px;
  left: 30px;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  font-weight: 300;
  letter-spacing: 2px;
}

.error-message {
  color: red;
}

input,
textarea {
  /* background-color: green; */
  font-family: 'Helvetica-Regular', sans-serif;
  width: 100%;
  border: none;
  border: 1px solid #676767;
  outline: none;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
textarea {
  resize: none;
}

textarea {
  height: 300px;
}

/* .


.features__icon-wrap {
  @extend %centeredFlex;
  height: 120px;
  margin-bottom: 30px;

  border-radius: $border-radius;
  background-color: $second-bg-color;
}

.features__icon {
  width: 70px;
  height: 70px;
}

 */
