.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-bubble {
  width: 1.142578125em;
}

.icon-cup {
  width: 0.875em;
}

.icon-diamond {
  width: 1.3349609375em;
}

.icon-heart-icon {
  width: 1.1435546875em;
}

.icon-phone {
  width: 0.6875em;
}

.icon-photo {
  width: 0.9375em;
}

.icon-study {
  width: 1.142578125em;
}
